
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  position: sticky;
  top: 0;

  z-index: 999;
  background-color: #ffffff;
  width: 100%;
}

.activefilter {
  border: 2px solid #1e293b;
  background-color: transparent;
  color: #1e293b;
}

.activepagination {
  background-color: #16a34a;
}

.loader {
  width: 100px;
  height: 100px;
  border: 5px solid #4ade80;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
